.nav-store {

}

h4 { margin-top: 0; }

.nav-subcategory {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 25%;
    height: 100vh;
}
/* .model-subcategory {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 20px;
} */

.model-new-product {    
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.model-screen-products {
    
}